header {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 5vw;
  font-size: 1.2rem;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: lightgray;
}
